<%= simple_form_for(@fortune) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :body, :input_html => {:rows => 6}%>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
